body>table {
    width: 80%;
}

table {
    border-collapse: collapse;
}

table.list {
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even),
table.list thead>tr {
    background-color: #485fe3e3;
    color: #dddddd;
}

tr{
    color: #dddddd;
}

input[type=text],
input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: greenyellow;
    color: azure;
    padding: 13px 15px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form div.form-action-buttons {
    text-align: right;
}

.head{
    background-color: darkcyan;
    color: whitesmoke;
    width: 100%;
    padding: 5px;
    border-radius: 0px 20px 0px 0px;
}

a {
    cursor: pointer;
    text-decoration: underline;
    color: #0000ee;
    margin-right: 4px;
}

label.validation-error {
    color: red;
    margin-left: 5px;
}

.hide {
    display: none;
}

.fw-bold{
    color: azure;
}
